<div class="jumbotron">
  <div class="container">
    <h1>DTLA Hands</h1>
    <h3>A posting resource board for the downtown LA community</h3>
      <a class="btn btn-primary btn-lg">Learn more</a>
    </p>
  </div>
</div>

<div>
  <ul>
  <% @events.each do |event| %>
  <l1> <%= link_to event.title %>
   <% end %>
  </li>

  </ul>
  
</div>