<!DOCTYPE html>
<html>
<head>
  <title>UXWDIApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="jumbotron">
  <div class="container">
    <h1>DTLA Hands</h1>
    <h3>A posting resource board for the downtown LA community</h3>
    </p>
  </div>
</div>

<%= yield %>

</body>
</html>
